  body {
    padding: 1em;
    font-family: sans-serif;
    background-color: #E0E0DC;
  }

  .peerdrop-icon {
    flex: 0 1 auto;
    width: 145px;
    display: block;
  }

  #peers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .peer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 0 1 auto;
    background-color: rgba(0, 161, 255, 0.1);
    border-radius: 50%; 
    width: 200px;
    height: 200px;
    animation-name: adding;
    animation-duration: 0.8s;
    margin: 1em;
  }

  @keyframes adding {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    75% {
      opacity: 1;
      transform: scale(1.1);
      background-color: rgba(0, 161, 255, 0.3);
    }

    100% {
      transform: scale(1);
      background-color: rgba(0, 161, 255, 0.1);
    }
  }

  .peer.adding {
    transform: scale(1.2)
  }

  .peer address {
    margin-top: 0.5rem;
    font-family: monospace;
    font-size: 1.3rem;
  }

  #me {
    position: absolute;
    bottom: 0;
  }

