
body {
  -webkit-user-select: none;
  padding: 1em;
  font-family: sans-serif;
  background-color: white;
}

body.darwin {
  -webkit-app-region: drag;
}

body.darwin .close {
  display: block;
}

.peerdrop-icon {
  flex: 0 1 auto;
  width: 145px;
  display: block;
}

#peers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.peer.adding {
  opacity: 0;
  transform: scale(0);
}

.peer.adding-anim {
  transition: all 0.8s cubic-bezier(0.25, 0.1, 0.85, 1.45);
}

.peer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 0 1 auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: all .4s ease;
  margin: 1em;
  border: 2px solid transparent;
  background-size: cover;
}

.peer.drag {
  border: 2px solid;
  transform: scale(1.1);
}

.peer .bar {
	width: 119px;
}

.peer address {
  position: absolute;
  bottom: -35px;
  font-size: .8rem;
}

#me {
  position: absolute;
  background-size: cover;
  bottom: 25px;
  width: 80px;
  height: 80px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center center;
}

.peer address.linux,
.avatar.linux {
  background-image: url('./assets/linux.svg')
}

.peer address.darwin,
.avatar.darwin {
  background-image: url('./assets/darwin.svg')
}

.peer address.win32,
.avatar.win32 {
  background-image: url('./assets/win32.svg')
}

.close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  content: 'x';
  cursor: pointer;
}

#empty-message {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  position: absolute;
  text-align: center;
  margin-top: 30%;
  padding-top 100px;
  color: gray;
  opacity: 0;
  transition: all .4s ease;
}

#empty-message.show {
  opacity: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: calc(100% - 2em);
  font-size: 12px;
  color: #999;
}
